.cart-item{
    display: flex;
    justify-content: space-between;
    margin: 0.9rem 0;
    border-bottom: 0.12rem solid rgb(166, 0, 0);
}

.cart-summary{
    margin-bottom: 0.7rem;
}

.cart-item h3{
    margin-bottom: 0.9rem;
}

.cart-price{
    color: rgb(166, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    margin-right: 2rem;
}

.cart-amount{
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 0 0.3rem;
    border: 2px solid rgb(212, 209, 209);
    border-radius: 0.3rem;
}


.cart-actions{
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cart-actions button{
    padding: 0.15rem 0.9rem;
    color: black;
    border: 2px solid rgb(185, 175, 175);
    border-radius: 0.3rem;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;

}